header{
    color: black;
    
}

.header_nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

header h1{
    margin-top: 10px;
    margin: 10px 0 auto 0;
}

.nav-icon{
    display: flex;
    margin-left: 700px;
}

.new_member{
    margin-right: 20px;
    text-align: center;
}

.login{
    margin-right: 20px;
    text-align: center;
}

/* .logout{
    margin-right: 20px;
    text-align: center;
}

.mypage{
    margin-right: 30px;
    text-align: center;
} */

.cart{
    text-align: center;
}


li{
    list-style-type: none;
    display: inline-block;
}
.header_bar{
    background-color: grey;
    margin-bottom: 30px;
    width: 1080px;
    margin: 10px auto;
}
.header_bar ul{
    font-size: 25px;   
    padding-top: 10px;
    width: 1000px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
}


/*ここまでヘッダのCSS*/

/* .main-content{
    display: flex;
}

.category_bar{
    width: 403px;
    height: 775px;
    border: solid 3px #000000;
    margin-right:5px;
} */

/*ここまで左のCSS*/

