
/*左のツールバーのCSS*/
.main-content{
    display: flex;
}



.category_bar{
    width: 291px;
    height: 775px;
    border: solid 3px #000000;
    margin-right:5px;
}

.product_wrapper{
    width: 100%;
    height: auto;
}

hr {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    height: 1px;
    }

.products{
    display: flex;
}

.product{
    width: 300px;
    margin:0 0;
}
